@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

/* Basic css */
:root {
  --background: #823dcc;
  --primery: #fff;
  --secondary: #f15a22;
  --tertiary: gray;
}
* {
  margin: 0;
  padding: 0;
  border: none;
  font-family: "poppins", sans-serif;
  list-style: none;
}

body {
  background-color: var(--background);
}

/*  ///////  */
.container {
  padding: 2% 5%;
}
.nav {
  margin-bottom: 2%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.intro {
  height: 70vh;
  margin: 2% 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--primery);
}

.col p {
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
  font-size: 16px;
}
.col h1 {
  font-weight: 900;
  font-size: 46px;
}
.col h2{
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  font-weight: 400;
  
}
.col span {
  color: var(--secondary);
}
.logo a {
  color: var(--primery);
  text-decoration: none;
  font-size: 2em;
  font-family: 'Poppins', sans-serif;
}
.logo span{
  font-family: 'monoton', sans-serif;
}
.menu img{
    width: 1.5vw;
    height: auto;
}

/* Main Content css */
.main {
  border-radius: 5px;
  padding: 5% 5%;
  background-color: var(--primery);
}
.sectionOne {
  margin: 0% 0% 8% 0%;
}

.experience {
  display: flex;
}
.experience h2 {
  font-weight: 800;
  font-size: 4em;
  background: linear-gradient(90deg, red, purple);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.experience p {
  align-self: center;
  font-size: 16px;
  line-height: 14pt;
}

.expInner {
  display: flex;
}

.expText,
.expList {
  flex: 5;
}

.expText h2 {
  color: #303e47;
  font-size: 46px;
  font-weight: bold;
  line-height: 1em;
  margin-bottom: 10px;
}
.expText p {
  padding-right: 20%;
  font-weight: 100;
  line-height: 1.5em;
  margin-bottom: 10px;
}

.expList {
  display: flex;
  justify-content: space-evenly;
}

.expList h3 {
  font-size: 2em;
  font-weight: 800;
}

.list li {
  color: var(--tertiary);
  padding: 5px 0%;
  font-weight: 100;
}

.services h3 {
  color: #823dcc;
}
.work h3 {
  color: #fcc400;
}
.agency h3 {
  color: #f76840;
}

.button {
  display: flex;
}
.button a {
  font-size: 12px;
  background-color: black;
  padding: 1% 2%;
  color: #fff;
  text-decoration: none;
  text-transform: capitalize;
  border-radius: 50px;
  transition: 0.2s ease-in-out;
}

.button a:hover {
  background-color: gray;
}

/* section two  */

.sectionTwo h2{
  font-size: 50px;
  font-weight: 900;
}

.inner{
  display: flex;
  justify-content: space-between;
}
.side{
  flex: 2 2 30%;
}

.first{
  padding: 0% 8%;
  margin:  0% 0% 15% 0%;
}
.first a{
  font-size: 24px;
  font-weight: 400;
  color: gray;
  text-transform: capitalize;
  text-decoration: none;
}
.first li{
  color: gray;
  list-style: decimal-leading-zero;
}
.first li::marker{
  font-size: 12px;
}
.first a:before{
  content: "/ ";
  font-size: 12px;
}
.first a:checked{
  color: var(--background);
}
.second h3{
  font-size: 24px;
}
.second div{
  padding: 0% 50% 0% 2%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.second span{
  flex: 1 1 auto;
  text-align: center;
  margin: 5px;
}

.second a{
  text-decoration: none;
  background-color: #fff;
  padding: 1px 10px;
  border: rgba(0, 0, 0, 0.2) solid 1px;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.4);
  text-transform: capitalize;
}

.works{
  flex: 2 2 70%;
}
