@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500;700;900&display=swap");

/* Basic css */
:root {
  --background: #823dcc;
  --primery: #fff;
  --secondary: #f15a22;
  --tertiary: gray;
}
* {
  margin: 0;
  padding: 0;
  border: none;
  font-family: "poppins", sans-serif;
  list-style: none;
  scroll-behavior: smooth;
  transition: 0.2s ease-in-out;
  box-sizing: border-box;
}

body {
 
  color: #303e47;
  background-color: var(--background);
  box-sizing: border-box;
}
a {
  text-decoration: none;
}

/*  ///////  */
.container {
  
  padding: 2% 5%;
  overflow: hidden;
}
.nav {
  margin-bottom: 2%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.intro {
  height: 70vh;
  margin: 2% 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--primery);
}

.col p {
  font-family: "Open Sans", sans-serif;
  font-weight: 100;
  font-size: 16px;
}
.col h1 {
  font-weight: 900;
  font-size: 46px;
}
.col h2 {
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
  font-weight: 400;
}
.col span {
  color: var(--secondary);
}
.logo a {
  color: var(--primery);
  text-decoration: none;
  font-size: 2em;
  font-family: "Poppins", sans-serif;
}
.logo span {
  font-family: "monoton", sans-serif;
}
.menu img {
  width: 1.5vw;
  height: auto;
}

/* Main Content css */
.main {
  border-radius: 5px;
  padding: 5% 5%;
  background-color: var(--primery);
}
.sectionOne {
  margin: 0% 0% 8% 0%;
}

.experience {
  display: flex;
}
.experience h2 {
  font-weight: 800;
  font-size: 4em;
  background: linear-gradient(90deg, red, purple);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.experience p {
  align-self: center;
  font-size: 16px;
  line-height: 14pt;
}

.expInner {
  display: flex;
  flex-wrap: wrap;
}

.expText,
.expList {
  flex: 5;
}

.expText h2 {
  color: #303e47;
  font-size: 46px;
  font-weight: bold;
  line-height: 1em;
  margin-bottom: 10px;
}
.expText p {
  padding-right: 20%;
  font-weight: 100;
  line-height: 1.5em;
  margin-bottom: 10px;
}

.expList {
  display: flex;
  justify-content: space-evenly;
}

.expList h3 {
  font-size: 2em;
  font-weight: 800;
}

.list li {
  color: var(--tertiary);
  padding: 5px 0%;
  font-weight: 100;
}

.services h3 {
  color: #823dcc;
}
.expInner .work h3 {
  color: #fcc400;
}
.agency h3 {
  color: #f76840;
}

.button {
  display: flex;
}
.button a {
  font-size: 12px;
  background-color: black;
  padding: 1% 2%;
  color: #fff;
  text-decoration: none;
  text-transform: capitalize;
  border-radius: 50px;
  transition: 0.2s ease-in-out;
}

.button a:hover {
  background-color: gray;
}

/* section two  */
.sectionTwo {
  margin: 10% 0%;
}
.sectionTwo h2 {
  margin-bottom: 2%;
  font-size: 50px;
  font-weight: 900;
}

.inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.side {
  flex: 2 2 30%;
}

.first {
  padding: 0% 8%;
  margin: 0% 0% 15% 0%;
}
.first a {
  font-size: 24px;
  font-weight: 400;
  color: gray;
  text-transform: capitalize;
  text-decoration: none;
}
.first li {
  color: gray;
  list-style: decimal-leading-zero;
}
.first li::marker {
  font-size: 12px;
}
.first a:before {
  content: "/ ";
  font-size: 12px;
}
.first a:checked {
  color: var(--background);
}
.second h3 {
  font-size: 24px;
}
.second div {
  padding: 0% 50% 0% 2%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.second span {
  flex: 1 1 auto;
  text-align: center;
  margin: 5px;
}

.second a {
  text-decoration: none;
  background-color: #fff;
  padding: 1px 10px;
  border: rgba(0, 0, 0, 0.2) solid 1px;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.4);
  text-transform: capitalize;
}

.works {
  width: auto;
  height: auto;
  flex: 1 1 70%;
}
#workGroup {
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto auto;
  grid-gap: 10px;
}
.works .work {
  height: 30vh;
  width: 100%;
  border-radius: 1%;
  background-color: #823dcc;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1em;
}
.works div:nth-child(2) {
  background-image: url(/res/img/workgridbg1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.works div:nth-child(2):hover {
  color: #fff;
  filter: saturate(0%);
  transition: 0.5s ease;
}
.works .work:hover {
  animation: workHover 1s;
  animation-fill-mode: both;
}

@keyframes workHover {
  100% {
    background-color: gray;
  }
}

/* section Three  */
.sectionThree {
  background-color: #1f2845;
  border-radius: 5px;
  height: 50vh;
  margin: 10% 0%;
}
.awards {
  box-sizing: border-box;
  height: 100%;
  display: flex;
  padding: 5%;
}
.awardDisp {
  flex: 1 1 50%;
  position: relative;
  height: 100%;
  width: 100%;
  background-color: #823dcc;
  overflow: hidden;
}
.tab {
  overflow: hidden;
}
.tab button {
  color: #fff;
  background-color: inherit;
  cursor: pointer;
  float: left;
  margin-right: 8%;
  transition: 0.3s;
  font-weight: 800;
  font-size: 1.5em;
  display: flex;
  flex-direction: column;
}
.tab button::after {
  content: "";
  border: 1px solid #fff;
  width: 100%;
  padding-right: 20%;
  background-color: #dadada;
}
.tab button:hover {
  opacity: 50%;
}
.tab button.active {
  color: #823dcc;
}
.tabcontent {
  display: none;
  padding: 5% 0%;
}
.awardDisp img {
  width: 100%;
  height: auto;
  background-size: cover;
  background-color: #fcc400;
}
.awardDisp span {
  color: #fff;
  background-color: #823dcc;
  height: 20%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  bottom: 0px;
}
.awardDisp span p {
  position: absolute;
  left: 10%;
  font-size: 12px;
  text-align: center;
}
.awardDisp span h3 {
  font-size: 16px;
  font-weight: 100;
}
.awardDiv {
  flex: 1 1 50%;
  color: #fff;
  padding: 1% 5%;
}
.awardDiv h2 {
  text-transform: capitalize;
  font-size: 2em;
  font-weight: 900;
}
.awardDiv ul {
  display: flex;
  justify-content: space-evenly;
  padding-right: 50%;
}
.awardDiv p {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 100;
  color: #dadada;
}

/* section Four*/
.sectionFour {
  overflow: hidden;
  width: 100%;
  margin: 5% 0%;
}
.sectionFour h2 {
  text-align: center;
  font-size: 3em;
  font-weight: 600;
  color: #303e47;
  margin-bottom: 2%;
}
.blog {
  padding: 2% 5%;
  margin: auto;
}
.blogOne,
.blogTwo {
  margin-bottom: 5%;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.blog .blogImg {
  flex: 1 1 50%;
}
.blog .blogInfo {
  flex: 1 1 50%;
}
.blog .blogInfo {
  padding-left: 2%;
}
.blogInfo span {
  font-size: 16px;
  color: #303e47;
  opacity: 50%;
  font-weight: 400;
}
.blogInfo .head {
  width: auto;
  height: auto;
  display: flex;
  justify-content: space-between;
  margin-bottom: 2%;
}
.blogInfo .head img {
  flex: 1 1 20%;
  width: auto;
  height: auto;
  border: #303e47 2px solid;
}
.blogInfo .head h3 {
  padding: 0% 0% 0% 1%;
  flex: 1 1 80%;
  font-size: 24px;
  font-weight: 800;
  color: #303e47;
}
.blogInfo p {
  font-size: 14px;
  font-weight: 400;
  opacity: 50%;
  margin-bottom: 2%;
  line-height: 22pt;
}
.blogInfo button {
  width: 25%;
  padding: 1%;
  border-radius: 50px;
}
.blogInfo button a {
  color: #303e47;
}

.blogTwo {
  text-align: end;
  flex-direction: row-reverse;
  align-content: flex-end;
}
.blogTwo .blogInfo .head {
  flex-direction: row-reverse;
}
.blogTwo .blogInfo {
  padding: 0% 2% 0% 0%;
  align-items: flex-end;
}

/* section*/
.sectionFive {
  background-color: #1f2845;
  padding: 5%;
}
.sectionFive h2 {
  font-size: 44px;
  color: #fff;
  text-align: center;
  margin: auto;
}
.priceList {
  display: flex;
}
.tier {
  position: relative;
  text-align: center;
  border-radius: 15px;
  background-color: #fff;
  padding: 10% 0% 8% 0%;
  margin: 5% 2%;
  flex: 1 1 auto;
}
.tier img{
  position: absolute;
  top: -5%;
  margin-left: -8%;
}
.tier h3:nth-of-type(1) {
  font-size: 33px;
  font-weight: 800;
  text-transform: capitalize;
  margin-bottom: -4%;
}
.tier h3:nth-of-type(2) {
  font-size: 34px;
  font-weight: 600;
  text-transform: capitalize;
  margin: 5% 0%;
}
.tier p{
  font-size: 16px;
  font-weight: 400;
}
.tier li{
  margin: 5% 0%;
  font-family: "open sans",sans-serif;
}
.tier button{
  border-radius: 50px;
  padding: 2% 10%;
}
.tier button{
  margin-top: 10%;
  background-color: #303e47;
  border-radius: 50px;
  padding: 3% 10%;
}
.tier a{
  color: #fff;
  font-weight: 500;
}
.tier button:hover{
  background-color: #823dcc;
}

/*<!-- testimony -->*/
.testimony{
  width: auto;
  height: 70vh;
  padding: 2% 5%;
  margin: 2% 0% 5% 0%;
  overflow: hidden;
  text-align: center;
}
.slider {
  width: 100%;
  height:500px;
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  overflow: hidden;
}
.slide {
  width: 100%;
  flex-shrink: 0;
  height: 100%;
  padding-top: 5%;
}
.slideInner{
  padding: 5% 5%;
  position: relative;
}
.slideInner p{
  font-style: italic;
  margin-bottom: 2%;
}
.slideInner::before{
  content: " ";
  height: 100%;
  width: 50%;
  background-image: url(/res/img/grid.svg);
  background-repeat: no-repeat;
  opacity: 5%;
  position: absolute;
  top: 0%;
  left: 30%;
}
.slideInner img{
  background-color: #Fff;
  padding: 2%;
  border-radius: 50%;
  height: 100px;
  width: auto;
}
.slides > div {
  scroll-snap-align: start;
}
.slide-Dots{
  margin-top: -5%;
}

/*<!-- call to action -->*/
.CTA{
  display: flex;
  justify-content: space-evenly;
  color: #fff;
  
}
.CTA div{
  cursor: pointer;
  position: relative;
  flex: 1 1 50%;
  padding: 6% 4%;
}
.CTA div:hover{
  transform: scale(1.02);
  z-index: 5;
}
.CTA .career{
  background-color: #942dbd;
  text-align: right;
}
.CTA .career:hover{
  box-shadow: #303e47 -5px 5px;
}
.CTA .quote{
  background-color: #ec376c;
  text-align: left;
}
.CTA .quote:hover{
  box-shadow: #303e47 5px 5px;
}
.CTA h2{
  font-size: 50px;
}
.CTA p{
  margin-bottom: -4%;
  font-weight: 400;
}
.CTA img{
  position: absolute;
  top: -10%;
  background-color: #fff;
  border-radius: 50%;
  padding: 1%;
}
.CTA .career img{
  right: 7%;
}
.CTA .quote img{
  left: 7%;
}
/*footer*/
.footer{
  box-sizing: border-box;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 2% 0%;
}
.footerMenu,.copywrite {
  width: 50vw;
}
.footerMenu a{
  color: #1f2845;
  text-transform: uppercase;
  margin-left: 2%;
  font-weight: 800;
}
.copywrite{
  opacity: 50%;
  text-align: end;
}

/*media query*/

@media(max-width:850px ){
  body{
    background-color: green;
  }
}

@media(max-width:450px ){
  .h2{font-size: 34px;}
  .nav .menu img{
    width: 6vw;
  }
  .intro{margin: 1% 0%;}
  .intro .col:nth-of-type(2){
    display: none;
  }
  .intro .col h1 {
    font-size: 34px;
  }
  .intro .col h2{
    font-size: 16px;
    font-weight: 100;
  }

  .main{
    padding: 2% 8%;
  }
  .experience h2{
    margin-bottom: 2%;
  }
  .expInner{
    display: block;
  }
  .expText{margin-bottom: 10%;}
  .expText h2{
      font-size:22px ;
      line-height: 22pt;
  }
  .expText p{
    font-size: 16px;
    font-weight: 400;
    padding: 0;
  }
  .expList{
    display: block;
  }
  .expList div {
    margin-bottom: 5%;
  }
  .expList h3{
    font-size: 44px;
    margin-bottom: -2%;
  }
  .expList .list li{
    display: inline-block;
    padding: 0;
  }
  .sectionOne .button{
    display: block;
    margin-top: 20%;
    text-align: center;
  }
  .sectionOne .button a{
    padding: 4% 10%;
  }
}